.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #5EC9CC;
    text-align: center;
}

.imagem{
    width: 100%;
}

.imagem img{
    height: 350px;
    width: 350px;
    margin-left: 500px;
}

.botao a button{
    font-size: 20px;
    font-weight: 700;
    background-color: #30526A;
    color: #5EC9CC;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 550px;
}

@media (max-width: 425px) {
    .imagem img{
        height: 250px;
        width: 250px;
        margin-left: 30px;
        margin-top: 50px;
    }

    .titulo{
        width: 300px;
        height: 100px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botao a button{
        margin-top: 45px;
        margin-left: 30px;
    }
}